# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
actuator-net/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Build / packaging
build/
dist/
*.egg-info/

# Data (important for you)
Data/
Raw Data/
*.csv

# OS
.DS_Store
Thumbs.db